<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                产品管理管理
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        添加产品管理
                        <small>
                            数据表单
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <a href="#/manage/product/list" id="btn-list-product" title="产品管理"
                   class="m-portlet__nav-link btn list btn-lg btn-outline-primary m-btn m-btn--outline-1x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill ">
                    <i class="la la-plus"></i>
                </a>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right form-validation" action="{{ctx}}/manage/product/" method="post" id="product-save-form">
            <input type="hidden" name="id" value="{{product.id}}" />
            <div class="m-portlet__body">
                <div class="m-form__content bootstrap-alerts">

                </div>

                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        主键id *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productId" id="productId" class="form-control required" value="{{product.productId}}" htmlEscape="false" maxlength="32" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品名称 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productName" id="productName" class="form-control required" value="{{product.productName}}" htmlEscape="false" maxlength="50" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品版本
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productEdition" id="productEdition" class="form-control" value="{{product.productEdition}}" htmlEscape="false" maxlength="32" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        productkey *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productKey" id="productKey" class="form-control required" value="{{product.productKey}}" htmlEscape="false" maxlength="20" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品秘钥
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productSecret" id="productSecret" class="form-control" value="{{product.productSecret}}" htmlEscape="false" maxlength="32" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        节点类型
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productNtype" id="productNtype" class="form-control" value="{{product.productNtype}}" htmlEscape="false" maxlength="20" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品数量
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productNum" id="productNum" class="form-control digits" value="{{product.productNum}}" htmlEscape="false" maxlength="11" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        添加时间
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <div class="input-group date m_datetimepicker" >
                            <input class="form-control m-input" name="productAddtime" readonly value="{{product.productAddtime | date:'yyyy-MM-dd hh:mm:ss'}}" type="text" />
                            <span class="input-group-addon">
                                <i class="la la-calendar-check-o glyphicon-th"></i>
                            </span>
                        </div>
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        联网方式 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productNetmodel" id="productNetmodel" class="form-control required" value="{{product.productNetmodel}}" htmlEscape="false" maxlength="10" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        数据格式
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productDataformat" id="productDataformat" class="form-control" value="{{product.productDataformat}}" htmlEscape="false" maxlength="50" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        是否id认证
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productAuthentication" id="productAuthentication" class="form-control digits" value="{{product.productAuthentication}}" htmlEscape="false" maxlength="4" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品描述
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productComments" id="productComments" class="form-control" value="{{product.productComments}}" htmlEscape="false" maxlength="200" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        产品状态
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productState" id="productState" class="form-control digits" value="{{product.productState}}" htmlEscape="false" maxlength="4" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        是否开启动态注册
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productDyregis" id="productDyregis" class="form-control digits" value="{{product.productDyregis}}" htmlEscape="false" maxlength="4" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        标签信息
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productLabelinfo" id="productLabelinfo" class="form-control" value="{{product.productLabelinfo}}" htmlEscape="false" maxlength="200" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        是否接入网关
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="productIsaccessgateway" id="productIsaccessgateway" class="form-control digits" value="{{product.productIsaccessgateway}}" htmlEscape="false" maxlength="4" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        description_
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <textarea name="description" rows="5" maxlength="255" class="form-control input-xxlarge ">{{product.description}}</textarea>
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="button" class="btn btn-success save">
                                <i class="fa fa-check"></i> 保存
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#product-save-form')">
                                重置
                            </button>
                            <button type="button" class="btn" onclick="window.history.back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>