<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                分组信息管理管理
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        添加分组信息管理
                        <small>
                            数据表单
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <a href="#/manage/group/list" id="btn-list-group" title="分组信息管理"
                   class="m-portlet__nav-link btn list btn-lg btn-outline-primary m-btn m-btn--outline-1x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill ">
                    <i class="la la-plus"></i>
                </a>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right form-validation" action="{{ctx}}/manage/group/" method="post" id="group-save-form">
            <input type="hidden" name="id" value="{{group.id}}" />
            <div class="m-portlet__body">
                <div class="m-form__content bootstrap-alerts">

                </div>

                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        主键id/分组id *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="groupId" id="groupId" class="form-control required" value="{{group.groupId}}" htmlEscape="false" maxlength="32" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        分组名称 *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="groupName" id="groupName" class="form-control required" value="{{group.groupName}}" htmlEscape="false" maxlength="50" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        添加时间
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <div class="input-group date m_datetimepicker" >
                            <input class="form-control m-input" name="groupAddtime" readonly value="{{group.groupAddtime | date:'yyyy-MM-dd hh:mm:ss'}}" type="text" />
                            <span class="input-group-addon">
                                <i class="la la-calendar-check-o glyphicon-th"></i>
                            </span>
                        </div>
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        逻辑删除
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="text" name="groupDeleted" id="groupDeleted" class="form-control digits" value="{{group.groupDeleted}}" htmlEscape="false" maxlength="4" />
                        <span class="m-form__help">
							
						</span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="button" class="btn btn-success save">
                                <i class="fa fa-check"></i> 保存
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#group-save-form')">
                                重置
                            </button>
                            <button type="button" class="btn" onclick="window.history.back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>